uvicorn[standard]
pydantic_settings
psycopg2-binary
passlib[bcrypt]
psycopg2-binary
pytest-asyncio
python-dotenv
celery[redis]
sqlalchemy
colorlog
colorama
yfinance
pydantic
asyncpg
fastapi
alembic 
qrcode
pytest
pyjwt
redis
httpx
ruff
art
uv